<body>
	<div class="container">
		<h1>EMS Workflow Manager</h1>
		<p>Welcome to your BPMN diagram drawer. Here you can create, edit, and save BPMN diagrams for your business processes.</p>
		<div class="buttons">
			<button routerLink="new" >New Diagram</button>
			<button routerLink="edit">Edit Diagram</button>
			<!-- <button class="btn-btn primary" (click)="OnSave()">Edit Diagram</button> -->
			<!-- <button>Save Diagram</button>
			<button>Export Diagram</button> -->
		</div>
	</div>
</body>
<!-- <a routerLink="new">new</a>
<a routerLink="edit">edit</a>  -->